body{
    display:grid;
    grid-template-columns: 1fr 1fr;
   
}

#petContainer{
    display:flex;
    height: 200px;
    width:100%;
    background-color: peachpuff;
}

#activityBox{
    position:relative;
}
.activity{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 200px;
    background-color:lightblue;
    
}

#fruitBox{

   
}

#createPetWindow{
    display:none;
    position:absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    background-color: yellow;
}

.pet{
    height: 100px;
    width: 100px;
    margin:20px;
}

.circle{
    border-radius:50%;
}

.square{
border-radius:5px;
}

#statusBox{
    width: 100%;
    height: 50px;
    grid-column:1 /span 2;
    background-color: lightgray;
    color:black;
    font-family:'lucida console';
    font-size:xx-large;
    padding-left:50px;

}