@keyframes blinking{
    0%{
        height: 10%;
    }
    2%{height: 0%;}
    3%{height: 10%;}
    
    100%{height: 10%;}
}

@keyframes breathing{
    0%{
        height: 200px;
        width: 200px;
    }
    50%{
        height: 200px;
        width: 205px;
    }
   
    
    100%{
        height: 200px;
        width: 200px;
    }
}

@keyframes eating{

    0%,100%{ 
        height: 10%;
    }
        
    50%{
        height: 0%;
        
    }

}

body{
    display:grid;
    grid-template-columns:4fr 1fr;

}

.pet{
    height: 200px;
    width: 200px;
    margin:20px;
    
}

.circle{
    border-radius:50%;
    background-color: green;
}

.square{
    border-radius:15px;
    background-color: red;
}

.petStats{
    display:flex;
    flex-direction: column;
    background-color: lightgrey;
    
}

#petContainer{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    background-color: rgb(159, 235, 213);
    outline:solid red;
}

.mouth{
    height: 10%;
    width: 80%;
    background-color:black;
    border-radius: 50%;
 
   

}

.eating{
    animation:eating 200ms linear;
    animation-iteration-count:3.5;
}
.eyesClosed{
    height: 0%;
}


.eye{
    height: 10%;
    width: 30%;
    background-color:black;
    border:solid black;
    border-radius: 50%;
    animation:blinking 6s linear infinite;
    
    

}

.petBody{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    grid-template-rows:2fr,1fr;
    
    animation:breathing 4s linear infinite;
}

.petBox{
    width: 250px;
    margin:10px;
    box-shadow:2px 2px 5px black;
    border-radius:10%;
    padding:1%;
    background-color: rgba(221, 241, 104, 0.551);
}


#fruitBox{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    width: 300px;
    background-color: lightgreen;
    border:solid green;
}

.fruit{

    margin:10px;
    box-shadow:2px 2px 2px black;

}

.fruit:hover{
    cursor:pointer;
}
.apple{
    position:absolute;
    background-color: red;
    height: 50px;
    width: 50px;
    border-radius:50%;

}



.orange{
    position:absolute;
    background-color: orange;
    height: 60px;
    width: 60px;
    border-radius:50%;

}

/* @media screen and (max-width:650){
#petContainer{
    flex-direction:column;

}
} */